h1, h2 {
  text-align: center;
}

body {
  background-color: #8E8F7F;
}

section {
  background-color: #B8B17E;
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
}

nav {
  list-style-type: none;
  background-color: #7E8358;
  text-align: center;
  overflow: hidden;
  margin: 0 -10px;
  padding: 20px;
}

nav li {
  display: inline;
  margin: 25px;
}

nav ul li {
  margin: 30px;
  padding: 30px;
}

nav ul li a {
  display: inline;
  text-decoration: none;
  padding: 35px 25px;
}

nav li a:hover {
  background-color: #B8B17E;
}
	
img {
  width: 700px;
  border: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 700px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,h2 {
  font-family: 'Amaranth', sans-serif;
  color: #000000;
}

div,h4,li,p {
  font-family: 'News Cycle', sans-serif;
}

ul {
  list-style-type: none;
}

div,p {
  margin-left: 15px;
}

#map {
 height: 100px;
}

#wrapper {
  width: 850px;
  height: 600px;
  background-color: #7E8358;
  margin: 0 auto;
  overflow: hidden;
}

#canvas {
  width: 700px;
  height: 550px;
  background-color: #ccc;
  margin: 30px auto;
}  

#main {
  float:left;
  width: 30%;
  margin: 0 3%;
  background-color: #B8B17E;
  margin-top: 30px;
  border-radius: 10px;
}